{{!-- Setup the `index.handlebars` to have the template that Handlebars can render onto. --}}
 <container>
   <section>
      <aside>
          <ul id="order">
            <div class="btnli">
              {{#each hamburgerName}}
                {{#if devouredit}}
              <li>{{name}}</li>
            </div>
              {{!-- <button class="eat">Eat</button></div> --}}
                {{/if}}
              {{/each}}
          </ul>
        </aside>
        <div id="right">
            <ul>
              {{!-- {{#each eat}}
              <li>{{this}}</li>
              {{/each}} --}}
            </ul>
        </div>
      
          <div class="imgdiv"><img src="./assets/img/burger.png"></div>
          <h3>Build Your Own Burger</h3>
          <form class="formName">
            <textarea type="text" rows= 3 type="textarea" id="burgerName" placeholder="Click here to create your burger ..." name="name"></textarea>
              <button type="submit" class="order" id="orderBurger">Order Burger </button>
          </form>
   </section>
        
          
         <div style="clear:both;"></div>
          
  </container>

  
