*{
      background-color:#DEDCCE;
}
container{
      width:100%;
}
section{
  margin:0 auto;
  text-align:center;
  width: 50%;
}
aside{
  float:left;
  padding-left:10px;
  margin-top:175px;
  width:25%;
}
#right{
  margin-top:175px;
  padding-right:15px;
  float:right;
  width:25%;
}
h3 {
  margin: 0;
  padding: 10px 15px;
  font: normal 22px/35px "Oswald",sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}
.imgdiv{
  text-align: center;
}
input, textarea{
  width: 350px;
}
textarea {
  font-family: Lora,serif;
  font-weight: 400;
  font-style: normal;
}
input[type=text]{
  display: inline-block;
  height: 30px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
form{
  margin: 0 auto;
  width: 350px;
}
form .order{
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #ffffff;
  padding: 7px 10px;
  letter-spacing: 0.08em;
  width:150px;
  background-color:#91AE78;
  border: 1px solid #AEC59A;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li{
  border: 1px solid #E49957;
  padding: 10px;
  margin-bottom:5px;
}
.btnli{
  position:relative;
}
/* Style the eat button */
.eat {
    position:absolute;
    top:0;
    left:250px;
    padding: 12px 16px 12px 16px;
}

.eat:hover {
    background-color: #f44336;
    color: white;
}
